<div class=" container">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="well">
			<div class="row">
				<h3>Usuarios</h3>

			</div>
			<div class="row"> 
				<a class="waves-effect waves-light btn-large" ng-click="user.getUsers()"><i class="material-icons right">visibility</i>Mostrar</a>
				<a class="waves-effect waves-light btn-large"><i class="material-icons right">library_add</i>Crear</a>
		
			</div>


			<div ng-if="user.users">
						<ul class="collection" ng-repeat="user in user.users">
						        <li class="collection-item">
						         <div>
						          {{user.email}}<br/>{{user.name}}<br/>{{user.Rol}}

						        	<a href="#/editar/{{user.id}}" class="secondary-content">
						        		<i class="material-icons">mode_edit</i>Editar
						        	</a>
						       </div>
						      </li>

						</ul>
					<ul class="pagination">
					    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					    <li class="active"><a href="#!">1</a></li>
					    <li class="waves-effect"><a href="#!">2</a></li>
					    <li class="waves-effect"><a href="#!">3</a></li>
					    <li class="waves-effect"><a href="#!">4</a></li>
					    <li class="waves-effect"><a href="#!">5</a></li>
					    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
				  </ul>					
			</div>
			<button type="button" class="btn btn-primary" ng-click="user.watch()">llamar servicio</button>
			
			<div class="alert alert-danger" ng-if="user.error">
				<strong>There was an error: </strong> {{user.error.error}}
				<br>Please go back and login again
			</div>
		</div>
	</div>




<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    <select ng-model="pageSize" id="pageSize" class="form-control">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
     </select>
    <ul>
        <li ng-repeat="item in data | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
            {{item}}
        </li>
    </ul>
    <button class="waves-effect waves-light btn-large" 
     ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button class="waves-effect waves-light btn-large" 
     ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>


</div>

